@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif !important;
}


.hero-bg {
    background-image: url('./assets/shape-01.png');
    background-repeat: no-repeat;
}

/* border */
.border-gradient {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
  }
  
  .border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 5px; /* Border thickness */
    border-radius: inherit; /* Matches parent border radius */
    background: linear-gradient(135deg, #240e15, #ff2c6d); /* ✅ Gradient border */
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  
  .border-gradient img {
    display: block;
    width: 100%;
    border-radius: inherit;
    position: relative;
    z-index: 1;
  }
  
  .ex-border {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    backdrop-filter: blur(10px); 
  }
 .ex-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px; 
    border-radius: inherit; 
    background: linear-gradient(135deg, #240e15, #ff2c6d);
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
    .ex-border img {
    display: block;
    width: 100%;
    border-radius: inherit;
    position: relative;
    z-index: 1; 
  }

  [data-aos] {
    visibility: visible !important;
  }
  
